@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#corps
{
    display: flex;
}
p
{
 font-size: 20px;
}
nav
{
    background-image: url(Image/fond-jaune.jpg);
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    text-align: justify;
    overflow: auto;
}
ul
{
    list-style-type: none;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    padding-left: 25px;
}
h3
{
    text-align: center;
    background-image: url(Image/fond-gris.jpg);
    color: rgb(255, 202, 7);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
img.displayed
{
    display:block;
    width: 150px;
    height: 150px;
    margin:auto;
}
section
{
    width: 60%;
    display: flex;
    flex-direction: column;
    display: inline-block;
    word-break: break-all;
    text-align: justify;
    overflow: auto;
    margin-left: 5%;
}
#me
{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 100%;
}
#loisir
{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}
h1
{
    display: inline-block;
    margin-left: 15px;
    color: rgb(255, 202, 7);
}
#box
{
    border-top: 2px solid rgb(255, 204, 7);
    display: flex;
    flex-direction: column;
    word-break: break-all;
    overflow: auto;
    flex-wrap: wrap;
}
.element:nth-child(1)
{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.element:nth-child(2)
{
    width: 65%;
    margin-left: auto;
    display: inline-block;
    word-break: break-all;
}
#title
{
    display: flex;
    margin-top: 5%%;
    margin-bottom: 5%;
}
#name
{
    font-size: xx-large;
}
#italic
{
    font-style: italic;
}
#under
{
    border-bottom: 2px solid rgb(255, 204, 7);
}
#color
{
    color: black;
}
#yellow
{
    color: rgb(255, 204, 7);
}
#conteneur
{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid rgb(255, 204, 7);
}

@media all and (min-width: 480px)
{
    h2
    {
        display: none;
    }
}
@media all and (width: 768px)
{
    .element:nth-child(1)
    {
        width: 30%;
    }
    .element:nth-child(2)
    {
        padding: 0px;
        width: 90%;
    }
    #corps
    {
        display: flex;
    }
    nav
    {
        max-width: unset;
        width: 35%;
    }
    #loisir
    {
        flex-direction: column;
        margin:auto;
    }
    #conteneur
    {
        flex-direction: column;
    }
    ul
    {
        padding-left: 20px;
    }
}
@media all and (max-width: 480px)
{
    h3
    {
        color: rgb(47, 170, 229);
    }
    #loisir
    {
        padding: 10px;
    }
    h1
    {
        color: rgb(47, 170, 229);
        font-size: 19px;
        margin-top: 30px;
    }
    p
    {
        font-size: 17px;
    }
    #corps
    {
       flex-direction: column;
    }
    nav
    {
        max-width: unset;
        width: 100%;
        background-image: url(Image/mobile.jpg);
    }
     #conteneur
    {
        flex-direction: column;
        border-top: 2px solid rgb(47, 170, 229);
    }
    #box
    {
        border-top: 2px solid rgb(47, 170, 229);
        flex-direction: column;
        width: 100%;
    }
    #yellow
    {
        color: rgb(47, 170, 229);
    }
    #under
    {
        border-bottom: 2px solid rgb(47, 170, 229);
    }
    #title
    {
        display: none;
        margin: 0px;
    }
    #me
    {
        padding-bottom: 0px;
    }
    ul
    {
        margin: 0px;
        font-size: 17px;
        padding-left: 25px;
    }
    section
    {
        width: 90%;
    }
    .element:nth-child(1)
    {
        width: 90%;
    }
    .element:nth-child(2)
    {
        padding: 0px;
        width: 90%;
        word-break: normal;
    }
} 
